In [2]:
import pandas as pd

In [3]:
#get the data
data = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_totals.html')[0]
data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,588,56,157,...,.923,5,43,48,20,17,6,14,53,165
1,2,Quincy Acy,PF,28,PHO,10,0,123,4,18,...,.700,3,22,25,8,1,4,4,24,17
2,3,Jaylen Adams,PG,22,ATL,34,1,428,38,110,...,.778,11,49,60,65,14,5,28,45,108
3,4,Steven Adams,C,25,OKC,80,80,2669,481,809,...,.500,391,369,760,124,117,76,135,204,1108
4,5,Bam Adebayo,C,21,MIA,82,28,1913,280,486,...,.735,165,432,597,184,71,65,121,203,729

In [6]:
#check to make sure the data loaded in correctly
data.describe()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,734,734,734,734,734,734,734,734,734,734,...,691,734,734,734,734,734,734,734,734,734
unique,531,531,12,23,32,83,81,586,331,469,...,273,154,308,351,246,114,97,184,215,490
top,Rk,Player,SG,23,TOT,G,0,MP,FG,FGA,...,FT%,0,DRB,TRB,0,1,0,0,0,PTS
freq,26,26,176,75,86,26,199,26,26,26,...,26,42,26,26,27,45,90,36,26,26

In [8]:
#check for team names
data.Tm.unique()

array(['OKC', 'PHO', 'ATL', 'MIA', 'CLE', 'DEN', 'SAS', 'CHI', 'UTA',
       'BRK', 'NYK', 'POR', 'MEM', 'TOT', 'IND', 'MIL', 'DAL', 'HOU',
       'Tm', 'TOR', 'WAS', 'ORL', 'CHO', 'SAC', 'LAL', 'MIN', 'BOS',
       'GSW', 'NOP', 'LAC', 'PHI', 'DET'], dtype=object)

In [10]:
#get the proper team names
rockets = data.loc[data.Tm == "HOU"]
bucks = data.loc[data.Tm == 'MIL']
rockets.shape, bucks.shape

((23, 30), (24, 30))

In [15]:
#join the two teams together
rnb = pd.concat([rockets, bucks], axis=0, join='outer', ignore_index = True)
rnb.shape

(47, 30)

In [16]:
#save the files as jsons
rockets.to_json('rockets.json')
bucks.to_json('bucks.json')
rnb.to_json('rnb.json')

In [17]:
data.to_json('nba.json')